body{
    margin: 0;
    font-family: sans-serif;
}
.section{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
}
.box{
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.section img{
    height: 250px;
}
.section h2{
    margin: 0;
    color: black;
}
.section p{
    color: black;
    margin-right: 15px;
}
* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8EE4AF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: lavender;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: lavender;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #05386B;
}
body{
    background: #5CDB95;
    font-size: 16px;
    font-family: 'Bitter', serif;
}
#about{
    width:80%;
    margin: 100px auto;
}
#about p{
    margin-bottom: 15px;
}
