@import url('https://fonts.googleapis.com/css?=family=Poppins:100,200,300,400,500,600,700');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #3333;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
    /*background: #000;*/
}
.box{
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    align-self: center;
}
img{
    width: 300px;
    height: 200px;
}
* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8EE4AF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: lavender;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: lavender;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #05386B;
}
body{
    background: #5CDB95;
    font-size: 16px;
    font-family: 'Bitter', serif;
}
#about{
    width:80%;
    margin: 100px auto;
}
h2{
    margin-bottom: 20px
}
#about p{
    margin-bottom: 15px;
}
