* {
    margin: 0;
    padding: 0;
    /*margin-bottom: 15px;*/
}
/* Header Edit */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: none;
}

#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: #ffffff;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #ffffff;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
/* Home Page */
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #074b28;
}
body{
    background-image: url("images/Home-Page-Img.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    font-family: 'Bitter', serif;
}
#home_page{
    background-color: rgba(0, 0, 0, 0.50);
    padding:20px;
    margin:140px 100px;
    width:50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
}
#home_page h2{
    color: #ffffff;
    font-size: 53px;
    margin-bottom: 3px
}
#home_page h3{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px
}
#home_page p {
    font-size: 20px;
    /*color: #465b52;*/
    /*argin: 15px 0 20px 0;*/
    /*margin-bottom: 15px;*/
    color: #ffffff;
    margin-bottom: 15px;
}
button {
    background: #003a1b;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 1px 3px 10px 1px rgba(28, 0, 181, 0.3);
}
