* {
    margin: 0;
    padding: 0;
    /*margin-bottom: 15px;*/
}
/* Header Edit */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8EE4AF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: lavender;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: lavender;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
/* Home Page */
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #05386B;
}
body {
    background: #5CDB95;
    font-family: 'Bitter', serif;
}
#home_page{
    background-image: url("Home-Page-Img.jpg");
    background-color:#ffff;
    background-position: top 25% right 0;
    background-size: cover;
    height: 60vh;
    width: 72%;
    margin: 100px auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;

}
#home_page h2{
    color: lavender;
    font-size: 30px;
    margin-bottom: 3px
}
#home_page h3{
    color: lavender;
    font-size: 23px;
    margin-bottom: 20px
}
#home_page p {
    /*font-size: 16px;*/
    /*color: #465b52;*/
    /*argin: 15px 0 20px 0;*/
    /*margin-bottom: 15px;*/
    color: lavender;
    margin-bottom: 15px;
}
button {
    background: #10643f;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 1px 3px 10px 1px rgba(28, 0, 181, 0.3);
}
