/* Header Style*/
* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: none;
}
#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: #00a452;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#00a452;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
body{
    background-image: url("blueberry2.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    font-family: 'Bitter', serif;
}
/* Product Box Item */

/* Product Item*/
h2{
    font-size: 70px;
    color: #f1f1f1;
}
.section-p1{
    padding: 40px 70px;
}
#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 8px 10px;
    border: 1px solid #cce7d0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: .2s ease;
    position: relative;
    /*
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    */
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h6 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    /*transition: 0.2s;*/
}

#product1 .pro.des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}