/* Header Style*/
* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8EE4AF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: lavender;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: lavender;
    bottom: -4px;
    left: 20px;
    position: absolute;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #05386B;
}
body{
    background: #5CDB95;
    font-size: 16px;
    font-family: 'Bitter', serif;
}
/* Product Box Item */

/* Product Item*/
#product1 {
    text-align: center;
}

#product1 .product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

#product1 .pro {
    background: #d2ebcd;
    width: 23%;
    min-width: 250px;
    padding: 10px 5px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    transition: .2s;
    position: relative;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .description h6 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 12px;
    transition: 0.2s;
}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    transition: 0.2s;
}

#product1 .pro:hover .description h5 {
    color: floralwhite;
}

#product1 .pro .description i {
    color: rgb(240, 177, 18);
    font-size: 12px;
}

#product1 .pro .description h3 {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}