* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #8EE4AF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navigation-bar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
#navigation-bar li a:hover,
#navigation-bar li a.activeTab {
    color: lavender;
}
#navigation-bar li a.activeTab::after,
#navigation-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: lavender;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    line-height: 64px;
    color: #05386B;
}
body{
    background: #5CDB95;
    font-size: 16px;
    font-family: 'Bitter', serif;
}
.section-pad1 {
    padding: 40px 80px;
}